@import "../core/variables";
@import "../core/mixins";

.leaderboard {
    display: table;
    width: 100%;
    border-spacing: 0.2em;
    li {
        display: table-row;
        background-color: rgba($maroon, 0.4);
    }
}

%leaderboard--cell {
    display: table-cell;
    padding: 0.5em 1em;
    vertical-align: middle;
}

.leaderboard--name {
    @extend %leaderboard--cell;
    text-align: left;
    background-color: rgba($maroon, 0.4);
}

.leaderboard--score {
    @extend %leaderboard--cell;
    @extend %number;
    width: 4em;
}

@media only screen and (min-width: 480px) {

    #main {
        background-color: transparent;
    }

}

@-webkit-keyframes leaderboard {
    0% {
        background-position: left top;
    }
    100% {
        background-position: right top;
    }
}
@-moz-keyframes leaderboard {
    0% {
        background-position: left top;
    }
    100% {
        background-position: right top;
    }
}
@-ms-keyframes leaderboard {
    0% {
        background-position: left top;
    }
    100% {
        background-position: right top;
    }
}
@keyframes leaderboard {
    0% {
        background-position: left top;
    }
    100% {
        background-position: right top;
    }
}

%background__loading {
    @include _animation(leaderboard, $duration:2s, $function:linear, $iteration:infinite);
}

.background_1 {
    @extend %background__loading;
    background-image: -webkit-linear-gradient(left, $gold, $orange, $gold);
}
.background_2 {
    @extend %background__loading;
    background-image: -webkit-linear-gradient(left, $orange, $pink, $orange);
}
.background_3 {
    @extend %background__loading;
    background-image: -webkit-linear-gradient(left, $pink, $maroon, $pink);
}
.background_4 {
    @extend %background__loading;
    background-image: -webkit-linear-gradient(left, $maroon, $purple, $maroon);
}
.background_5 {
    @extend %background__loading;
    background-image: -webkit-linear-gradient(left, $purple, rgba(0,0,0,.2), $purple);
}
