@import "../core/variables";
@import "../core/mixins";

.game {
    background-color: $purple;
    color: $system-black;
    margin: 0 auto;
    min-height: 410px;
}

.card {
    background-color: $system-white;
    padding: 1em;
    height: 410px;
    position: relative;
}

.card--image {
    position: relative;
    height: 16em;
    overflow: hidden;
    img {
        position: absolute;
        left: -100%;
        right: -100%;
        bottom: -100%;
        top: -100%;
        min-width: 100%;
        min-height: 100%;
        margin: auto;
        display: block;
        z-index: 1;
    }
    &:before {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.05);
        z-index: 2;
        content: '';
    }
}

.card--content {
    margin-top: 1em;
}

.card__result {
    background-color: $system-gray-light;
}

.status {
    display: none;
    i {
        color: $system-white;
        padding: 0 0.2em;
        height: 1.6em;
        border-radius: 100%;
    }
}

.status__correct {
    color: $gold;
    font-weight: bold;
    i {
        background-color: $gold;
    }
}

.status__incorrect {
    color: $purple;
    i {
        background-color: $purple;
    }
}

.guess {
    display: block;
    text-decoration: line-through;
}

%score--item {
    display: block;
    padding: 0.5em;
}

.score--unit {
    display: inline-block;
    margin-top: 1em;
    margin-left: 1em;
    min-width: 5em;
}

@media only screen and (min-width: 480px) {

    .game {
        float: left;
        width: 80%;
        max-width: 320px;
    }

    .score {
        float: right;
        width: 20%;
    }

    .score--unit {
        display: block;
        margin-left: 0;
        min-width: 0;
        &:first-child {
            margin-top: 0;
        }
    }

}

.score--unit__correct {
    background-color: $orange;
}

.score--unit__total {
    background-color: $pink;
}

.score--unit__rounds {
    background-color: $maroon;
    .score--text {
        background-color: rgba($system-white, 0.1);
    }
}

.score--number {
    @extend %score--item;
    @extend %number;
    background-color: rgba($system-white, 0.2);
}

.score--text {
    @extend %score--item;
    font-size: 0.75em;
}

// Flip Animation

.flip {
    -webkit-perspective: 800;
    perspective: 800;
    position: relative;
}
.flip .flipper.flipped {
    transform: rotatey(-180deg);
}
.flip .flipper {
    transform-style: preserve-3d;
    @include _transition(600ms);
    width: 100%;
    height: 100%;
}
.flip .flipper .face {
    backface-visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.flip .flipper .front {
    position: absolute;
    z-index: 1;
}
.flip .flipper .back {
    transform: rotatey(-180deg);
}
