#container {
    max-width: 480px;
    background-color: rgba($background, 0.8);
    margin: 3em auto;
    padding: 1em;
    position: relative;
    z-index: 1;
}

header {
    margin-bottom: 2em;
}

footer {
    margin-top: 3em;
    color: $system-gray-dark;
}

.alert {
    margin-bottom: 1em;
}

#main {
    padding: 1em;
}

@media only screen and (min-width: 480px) {

    #main {
        background-color: rgba($maroon, 0.6);
    }

}

%background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    transform: skewX(-45deg) scale(1.5);
    background-repeat: repeat;
    background-size: 100% 50%;
}

.background_1 {
    @extend %background;
    background-color: $orange;
    margin: 0 5%;
}

.background_2 {
    @extend %background;
    background-color: $pink;
    margin: 0 10%;
}

.background_3 {
    @extend %background;
    background-color: $maroon;
    margin: 0 15%;
}

.background_4 {
    @extend %background;
    background-color: $background;
    margin: 0 20%;
}
